@charset "UFT-8";

:root{
    --corFundo:#0f1120;;
    --corPrincipal:#122d45;
    --corSecundaria:#658391;
    --corTerciaria:#1fa0d9;
}

header{

     color:var(--corSecundaria);
        text-align: center;
        font-size: 50px;
        border-color: var(--corTerciaria);
        border-style: groove;
        border-width: 10px;
        width: 900px;
        margin: auto;
        background-image: url(gifs-de-livros-2.gif);
        background-position:center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        padding: 140px;
        text-decoration: dotted;

    }
    body{
        background-color: var(--corFundo);
    }
    
    .tudo{
display: inline;
    }
    
    .categorias{
        margin-top: 40px;
        color: white;
        text-align: center;
         margin: top 10px;
        font-size: 40px;
    }

        .drama{
            margin: auto;
            padding-top: 70px;
            padding-top: 50px;
            font-size: 40px;
            text-align: center;
            width: 230px;
            height: 200px;
            background-color: var(--corPrincipal);
            border-color: #1fa0d9;
        border-style: groove;
        border-width: 8px;
        }
        .drama:hover{
            background:var(--corPrincipal);
	color:var(--corFundo);
	border-color: var(--corSecundaria);
        }
        .autoajuda{
            margin: auto;
        }